body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-size: large;
    font-weight: bold;
    width: 100%;
    background-color: #e7b365;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f0c380
}

div.contenedor-formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.contenedor-radio-motivo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}